<div class="layer" [ngStyle]="{ display: popUpForRemove }"></div>

<div class="pop-up" [ngStyle]="{ display: popUpForRemove }">
  <div mat-dialog-content>
    <p>Confirm action</p>
  </div>
  <div mat-dialog-actions class="btn">
    <button mat-button (click)="showPop()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="remove()">Confirm</button>
  </div>
</div>
<div class="cart">
  <i (click)="goBack()" class="fas fa-long-arrow-alt-left"></i>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="datasource">
      <!-- Item Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.id }}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.name }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>image</th>
        <td mat-cell *matCellDef="let transaction">
          <img src="{{ transaction.image }}" alt="photo" />
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.price | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getTotalCost() | currency }}
        </td>
      </ng-container>
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let transaction; let i = index">
          <button
            (click)="showPop(transaction, i); $event.stopPropagation()"
            class="remove"
          >
            Remove
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <button class="buy" mat-button>Buy all</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="showRow(row)"
      ></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
