.tam {
  max-height: 60vh;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.432);
  overflow: auto;

  img {
    height: 50px;
  }
}
button {
  background: transparent;
  border: 1px solid rgb(189, 189, 189);
  cursor: pointer;
  color: black;
  border: 1px solid rgb(185, 185, 185);
  background: white;
  outline: none;
  transition: 0.2s;
  padding: 8px 13px;
}
.example-container {
  max-height: 80vh;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  overflow: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  background: rgba(255, 255, 255, 0.397);
  img {
    height: 100px;
  }
}

tr.mat-footer-row {
  font-weight: bold;
  background: rgb(255, 255, 255);
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

// .mat-elevation-z7 {
//     width: 70%;
//     position: relative;
//     left: 50%;
//     transform: translate(-50%);
//     height: 80vh;
//     overflow: auto;
//     .tab{
//         width: 100%;

//         position: relative;
//         left: 50%;
//         transform: translate(-50%);
//         margin-top: 20px;
//         background: rgba(255, 255, 255, 0.432);
//         height: 100%;
//     }
//       tr.mat-footer-row {
//         font-weight: bold;
//         background: white;
//       }

//       .mat-table-sticky {
//         border-top: 1px solid #e0e0e0;
//       }
// }

.layer {
  width: 100%;
  top: 0%;
  display: block;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.527);
  position: absolute;
}
.exit {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 65%;
  margin-top: 90px;
  cursor: pointer;
  z-index: 4;
  color: rgba(255, 255, 255, 0.685);
}
.pop {
  background: white;
  display: none;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
  top: 30%;
  align-items: center;
}
.delAll {
  position: absolute;
  margin-top: 50px;
  left: 15%;
  padding: 10px;
  display: none;
}
.delete {
  background: #e53935;
  border: none;
  color: white;
  font-weight: 300;
}
mat-paginator {
  width: 70%;
  left: 50%;
  position: absolute;
  bottom: 0%;
  color: white;
  background: none;
  transform: translate(-50%);
}
.btns {
  position: relative;
  width: 70%;
  left: 50%;
  height: 40px;
  transform: translate(-50%);
  display: flex;
  margin-top: 20px;
  & button {
    color: black;
    background: white;
    outline: none;
    transition: 0.2s;
  }
  & button:hover {
    box-shadow: 0px 0px 5px rgb(129, 70, 15);
  }
  & button:first-child {
    position: absolute;
    right: 0%;
    height: 100%;
  }
  & button:last-child {
    position: absolute;
    right: 10%;
    height: 100%;
  }
}
.popup {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 400px;
  position: absolute;
  left: 50%;
  border-radius: 10px;
  z-index: 4;
  transform: translate(-50%);
  margin-top: 100px;
  background: white;
  align-items: center;
  & mat-form-field {
    width: 50%;
    margin-bottom: 20px;
  }
  & mat-form-field:first-child {
    margin-top: 70px;
  }
  & button {
    width: 50%;
  }
}
