<div class="header">
  <div class="logo">
    <h1 routerLink="/">Subtext</h1>
    <!-- <button class="frst" ></button>
        <button class="last" ></button> -->
  </div>
  <div *ngIf="welcomePage(); else template" class="btns">
    <a routerLink="signIn" id="sign">Sign in</a>
    <a routerLink="register" id="reg">Register</a>
  </div>
  <ng-template #template>
    <div class="head">
      <app-search></app-search>
      <div *ngIf="showCart">
        <a routerLink="books"><i class="fas fa-shopping-bag"></i></a>
        <app-cart-icon></app-cart-icon>
      </div>
      <!-- <ng-template #admin>
        <a routerLink="admin"><i class="fas fa-shopping-bag"></i></a>
      </ng-template> -->
      <app-user></app-user>
    </div>
  </ng-template>
</div>
