<div class="header">

    <div class="logo">
        <h1 routerLink='/'>Subtext</h1>
        <!-- <button class="frst" ></button>
        <button class="last" ></button> -->

    </div>
    <div *ngIf="welcomePage(); else template" class="btns">
        <a routerLink='signIn' id="sign">Sign ain</a>
        <a routerLink='register' id="reg">Register</a>
    </div>
    <ng-template #template>
        <div class="head">
            <app-search></app-search>
            <app-cart-icon></app-cart-icon>
            <app-user></app-user>

        </div>
    </ng-template>

</div>